body{
    font-family:'Avenir';
    position: relative;
    color: white;
}
.carousel-item{
    height:95vh ;
    width:99vw;
    position: absolute;
}
#content-paragraph{
    top: 250px;
    position: absolute;
    left: 15px;
}
.nav{
    text-decoration: none;
    margin: 5px;
    position: relative;
    display: inline-block;
    left: 540px;
    top: 580px;
    color: white;
}
#carousel-nav{
    height: 30px;
    width: 99vw;
    position: relative;
    top: 585px;
    background-color: dimgrey;
}
#right-arrow{
    position: relative;
    left:900px;
    font-size: 30px;
    cursor: pointer;
}
#left-arrow{
    position: relative;
    left: 60px;
    font-size: 30px;
    cursor: pointer;
}
#carousel-indicators{
    position: relative;
    left: 350px;
    top: -5px;
}
.carousel-btn{
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}


